# permissions for end users to view federatedmetrics.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: co-metrics-operator
    app.kubernetes.io/managed-by: kustomize
  name: federatedmetric-viewer-role
rules:
- apiGroups:
  - metrics.cloud.sap
  resources:
  - federatedmetrics
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - metrics.cloud.sap
  resources:
  - federatedmetrics/status
  verbs:
  - get
