name: Check Go Dependency Licenses

on:
  pull_request:
  push:
    tags:
      - v*
    branches:
      - main
    paths:
      - go.mod
      - go.sum

permissions:
  contents: read

jobs:
  validate:
    uses: openmcp-project/build/.github/workflows/go-license-check.lib.yaml@main
    secrets: inherit
